
header {
    background-color: #E6E6E6;

}
h1 {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0; 
}
    
  h2 {
    background-color: #E6E6E6;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
  }

  footer {
    background-color: #005677;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
  
  }